.handcraft-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  .handcraft-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .handcraft-column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .handcraft-column {
      flex: 100%;
      max-width: 100%;
    }
    .handcraft-image-text p {
        font-size: x-small;
        padding: 5px;
    }
    .handcraft-image-container .handcraft-image-text h5 {
        font-size: small;
        margin: 2px;
    }
  }

  .handcraft-image-container {
    position: relative;
  }

  .handcraft-image-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
  }
  .handcraft-image-text p {
    margin-inline: 5px;
}
.handcraft-image-text h5 {
    margin-top: 5px;
    font-size: large;    
}

.handcraft-header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/villasukat.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 60px;
}

.handcraft-images {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  overflow: hidden;
}

.handcraft-images p {
  padding: 10px 0 20px 0;
}