

  .images-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  .images-column {
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
  }
  
  .images-column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .images-column {
        flex: 100%;
        max-width: 100%;
      }
  }